.page {
  background: #F3F3F3;
  color: #000000;
  margin: auto;
  width: 100%;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal__label {
  margin: 0 28px 0 28px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
}

.modal__input {
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  padding: 0;
  margin-top: 24px;
}

.modal__input_type_card-name {
  border: none;
}

.modal__description {
  margin-left: 28px;
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.modal__input_type_radio {
  margin-left: 28px;
}

.modal__label_radio {
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-left: 8px;
}