.header {
  display: flex;
  justify-content: space-between;
  margin: 32px 40px 0 40px;
}

.header__container {
  display: flex;
  align-items: flex-end;
}

.header__logo {
  width: 89px;
  height: 24px;
  background: transparent url(../../images/logo.png) center no-repeat;
  background-size: 89px;
}

.header__date {
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 0 24px;
}