.item-modal__preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.item-modal__container {
  width: 500px;
  height: 610px;
  background: #FFFFFF;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.item-modal__close-button {
  background: transparent url(../../images/CloseIcon_ItemModal.svg) center no-repeat;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  margin: 0;
  top: 26px;
  right: 26px;
}

.item-modal__preview-image {
  object-fit: cover;
}

.item-modal__description {
  display: flex;
  justify-content: space-between;
  margin: 12px 32px 0 32px;
}

.item-modal__title {
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.item-modal__delete-button {
  border: none;
  background: #ffffff;
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ff4d00;
  cursor: pointer;
}

.item-modal__weather {
  font-family: 'Cabinet Grotesk', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 32px 32px;
}